* {
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: rgb(210, 210, 243);
}
header {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 2px dotted white;
}
.btn-menu {
    width: 25px;
    height: auto;
    margin-right: 20px;
    padding-left: 22px;
    cursor: pointer;
}
.menu {
    padding: 3px;
    width: auto;
    height: 1px;
    background-color: #fff;
    margin-bottom: 4px;
}
.btn-perfil {
    padding-right: 22px;
}
.btn-perfil img{
    border-radius: 50%;
    width: 40px;
    height: auto;
    border: 2px solid #fff;
    cursor: pointer;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-area {
    position: absolute;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    background-color: #fff;
    box-shadow: 9px 9px 20px black;
    border: 2px solid black;
}
.login-modal-left {
    flex: 1;
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.login-modal-left img {
    background-position: center;
    overflow: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;

}
.login-modal-right h1 {
    text-shadow: 1px 5px 5px #818181;
}
.login-modal-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.login-modal-right input {
    margin-bottom: 8px;
    border-radius: 5px;
    padding: 6px;
    border: 1px solid #5e5e5f;
    outline: 0;
}
.login-modal-right button {
    background-color: #3080db;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px;
    color: #fff;
    border: 0px;
    margin-bottom: 8px;
}
.login-modal-right button:hover {
    background-color: #0c4b92;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

.card {
    padding: 10px;
    background-color: white;
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 5px 20px black;
}
.imagen {
    top: 0;
    width: 300px;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 225px;
}
.titulo-area {
    text-align: left;
    margin: 0px;
}

.area-pix {
    display: flex;
    align-items: center;
    margin: 0px;
    margin-top: -30px;
}
.area-pix h3 {
    margin-right: 4px;
}
.area-cor div h4 {
    margin: 0px;
    margin-bottom: 7px;
}
.cor {
    display: flex;
}
.cor button {
    border: 0px;
    cursor: pointer;
    border: solid 1px black;
}
.circle {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    margin-right: 7px;
 
}
.vermelho {
    background-color: red;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.preto {
    background-color: black;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.branco {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.beje {
    background-color: burlywood(173, 48, 48);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.prata {
    background-color: rgb(102, 102, 102);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.botao-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao {
    background-color: rgb(85, 202, 85);
    margin-top: 15px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 0;
    cursor: pointer;
    
}
.botao:hover {
    background-color: rgb(63, 150, 63);
}
@media (min-device-width: 200px) and (max-device-width: 500px) {
    header {
        height: 80px;
    }
    
    .cards {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .card {
        padding: 10px;
        background-color: white;
        width: 300px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: left;
        border-radius: 10px;
    }

    .modal-area {
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0px;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }

    .login-modal-left {
        display: none;
    }

    .login-modal-right h1 {
        text-shadow: 1px 5px 5px #818181;
        font-size: 24px;
    }

    .login-modal-right {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
}
@media (min-device-width: 500px) and (max-device-width: 1410px) {

    header {
        height: 80px;
    }

    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100vh;

    }
    .card {
        padding: 10px;
        margin-top: 0px;
        background-color: white;
        width: 300px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: left;
        border-radius: 10px;
    }
    .modal-area {
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 500px;
        height: 500px;
        
    }
    .login-modal-left {
        flex: 1;
        height: 100%;
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .login-modal-left img {
        background-position: center;
        overflow: cover;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        height: 100%;
    
    }
    .login-modal-right h1 {
        text-shadow: 1px 5px 5px #818181;
    }
    .login-modal-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    .login-modal-right input {
        margin-bottom: 8px;
        border-radius: 5px;
        padding: 6px;
        border: 1px solid #5e5e5f;
        outline: 0;
    }
    .login-modal-right button {
        background-color: #3080db;
        border-radius: 5px;
        cursor: pointer;
        padding: 6px;
        color: #fff;
        border: 0px;
        margin-bottom: 8px;
    }
}
